.root {
  @apply sticky top-0 z-40 transition-all duration-150;
}

.link {
  @apply inline-block items-center text-primary leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-center;
  min-width: 100px;
  padding: 1px;
  border: 2px solid var(--accents-8);
  border-left: 0px;
  text-align: center;
}
.linkAll {
  margin-left: 80px !important;
}
.borderleft {
  border-left: 2px solid var(--accents-8);
}
.dropdownWrapper {
  position: fixed;
  height: 400px;
  width: 72%;
  top: 90px;
  display: block;
  background-color: var(--violet);
  z-index: 1000;
  border: 5px solid var(--darkviolet);
  border-top: 0px;
  box-shadow: 0px 51px 135px -6px rgba(235, 235, 235, 0.45);
  -webkit-box-shadow: 0px 51px 135px -6px rgba(235, 235, 235, 0.45);
  -moz-box-shadow: 0px 51px 135px -6px rgba(235, 235, 235, 0.45);
}

.link:hover {
  color: white;
}
.linkWrapper:hover .dropdownWrapper {
  display: flex;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
  height: 30px;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
