@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&family=Raleway:wght@500&display=swap");

:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;
  --selection: var(--cyan);

  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #38559c;
  --blue: #0070f3;
  --violet: #edbbd8;
  --violet-light: #7048e8;
  --darkviolet: #38559c;
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --font-sans: "Raleway", -apple-system, system-ui, "sans-serif";
  --font-heading: "Noto Serif JP", -apple-system, system-ui, "serif";
}

[data-theme="dark"] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;

  --accents-0: #212529;
  --accents-1: #343a40;
  --accents-2: #495057;
  --accents-3: #868e96;
  --accents-4: #adb5bd;
  --accents-5: #ced4da;
  --accents-6: #dee2e6;
  --accents-7: #e9ecef;
  --accents-8: #f1f3f5;
  --accents-9: #f8f9fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans) !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
}
h1 {
  font-family: var(--font-heading) !important;
  letter-spacing: -8px;
}
h2 {
  font-family: var(--font-heading) !important;

  color: var(--darkviolet);
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.textured {
  background-image: url(/whitenoise.png);
}
.distressed {
  background-image: url(/dc-distressed-bg-1.jpeg);
}
.underline-dotted {
  border-bottom: 1px var(--accents-8) dashed;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.hover-link .text-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: var(--darkviolet);
  top: -5px;
  left: 0;
  right: 0;
  transition: width 0.4s ease;
}
.hover-link .text-link:hover::before,
.hover-link .text-link:hover::after {
  width: 100%;
}
.text-link {
  position: relative;
  color: var(--accents-9);
  text-decoration: none;
  overflow: hidden;
}

.hover-link .text-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: var(--darkviolet);
  bottom: 0;
  left: 0;
  right: 0;
  top: 20px;
  transition: width 0.2s ease;
  color: var(--accents-0);
}

.checked {
  background-image: linear-gradient(45deg, #38559c 25%, transparent 25%),
    linear-gradient(-45deg, #38559c 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #38559c 75%),
    linear-gradient(-45deg, transparent 75%, #38559c 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.checked-large {
  background-image: linear-gradient(45deg, #38559c 25%, transparent 25%),
    linear-gradient(-45deg, #38559c 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #38559c 75%),
    linear-gradient(-45deg, transparent 75%, #38559c 75%);
  background-size: 160px 160px;
  background-position: 0 0, 0 80px, 80px -80px, -80px 0px;
}
.checked-xlarge {
  background-image: linear-gradient(45deg, #38559c 25%, transparent 25%),
    linear-gradient(-45deg, #38559c 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #38559c 75%),
    linear-gradient(-45deg, transparent 75%, #38559c 75%);
  background-size: 320px 320px;
  background-position: 0 0, 0 160px, 160px -160px, -160px 0px;
}
.overlay {
  outline: 300px solid var(--violet) !important;
  opacity: 0.5;
  /* outline-offset: -300px;q */
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
